[submodule "acr-cdr"]
	path = acr-cdr
	url = https://github.com/mitrefccace/acr-cdr.git
[submodule "asterisk"]
	path = asterisk
	url = https://github.com/mitrefccace/asterisk.git
[submodule "managementportal"]
	path = managementportal
	url = https://github.com/mitrefccace/managementportal.git
[submodule "acedirect"]
	path = acedirect
	url = https://github.com/mitrefccace/acedirect.git
[submodule "aserver"]
	path = aserver
	url = https://github.com/mitrefccace/aserver.git
[submodule "userver"]
	path = userver
	url = https://github.com/mitrefccace/userver.git
[submodule "hashconfig"]
	path = hashconfig
	url = https://github.com/mitrefccace/hashconfig.git
[submodule "esb"]
	path = esb
	url = https://github.com/mitrefccace/esb.git
[submodule "fendesk"]
	path = fendesk
	url = https://github.com/mitrefccace/fendesk.git
[submodule "autoinstall"]
	path = autoinstall
	url = https://github.com/mitrefccace/autoinstall.git
[submodule "busylightapi"]
	path = busylightapi
	url = https://github.com/mitrefccace/busylightapi.git
[submodule "iam"]
	path = iam
	url = https://github.com/mitrefccace/iam.git
[submodule "dat"]
	path = dat
	url = https://github.com/mitrefccace/dat.git
[submodule "data-logger"]
	path = data-logger
	url = https://github.com/mitrefccace/data-logger.git
[submodule "kamailio"]
	path = kamailio
	url = git@github.com:mitrefccace/kamailio.git
[submodule "acequill-service"]
	path = acequill-service
	url = git@github.com:mitrefccace/acequill-service.git
[submodule "nginx"]
	path = nginx
	url = https://github.com/mitrefccace/nginx.git
[submodule "kurento-asterisk-servlet"]
	path = kurento-asterisk-servlet
	url = https://github.com/mitrefccace/kurento-asterisk-servlet.git
[submodule "acedirect-kurento"]
	path = acedirect-kurento
	url = https://github.com/mitrefccace/acedirect-kurento.git
[submodule "kurento"]
	path = kurento
	url = https://github.com/mitrefccace/kurento.git
