[submodule "acr-cdr"]
	path = acr-cdr
	url = git@github.com:mitrefccace/acr-cdr.git
[submodule "asterisk"]
	path = asterisk
	url = git@github.com:mitrefccace/asterisk.git
[submodule "managementportal"]
	path = managementportal
	url = git@github.com:mitrefccace/managementportal.git
[submodule "acedirect"]
	path = acedirect
	url = git@github.com:mitrefccace/acedirect.git
[submodule "aserver"]
	path = aserver
	url = git@github.com:mitrefccace/aserver.git
[submodule "userver"]
	path = userver
	url = git@github.com:mitrefccace/userver.git
[submodule "hashconfig"]
	path = hashconfig
	url = git@github.com:mitrefccace/hashconfig.git
[submodule "esb"]
	path = esb
	url = git@github.com:mitrefccace/esb.git
